/*
---RES(for image):unsplash.com---
---RES(for Cutomer faces):uifaces---
----> 01 TYPOGRAPHY SYSTEM (SEC-06 => accordion.html)
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights

- Line heights
Default: 1

----> 02 COLORS (colors session)
- Primary: #e67e22

- Tints(Darker Version):

- Shades(lighter version): 

- Accents:

- Greys
#555

----> 03 SHADOWS

----> 04 BORDER-RADIUS

----> 05 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px;  */
  /*so , 1 rem = 10px*/
  /*create huge usability problems for users, who wants to increase or even to decrease font-size of their browsers => to avoid this don't set the font-size to a fixed value, USE percrntage of the default font-size*/
  font-size: 62.5%; /* 10px/16px = 0.625 = 62.5% -- Percentage of user's browser font-size setting */
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555; /* same as #555555 */
}

/*rem = root element's font-size, root of doc is HTML element(Parent element of all) , 1 rem = 16 px [default browser] untill we set font-size */
/*max-width :- If container width >> specified max-width then width of element = value for max-width , width << max-width then width of element = 100% of container element width*/

.test {
  /* width: 1000px; */
  /* max-width: 1000px;  */
  background-color: red;
  padding: 4rem;
  max-width: 50rem; 
  color: #fff;
  font-size: 2rem;
}